{% trans_default_domain 'FOSUserBundle' %}

<div class="row">
    <div class="col-md-offset-5 col-md-3 register-design">
        <h1>Modification</h1>
        {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
        {{ form_widget(form) }}
        <div>
            <input type="submit" value="{{ 'profile.edit.submit'|trans }}" />
        </div>
    </div>
</div>
{{ form_end(form) }}

