{#{% extends "@FOSUser/layout.html.twig" %}#}

{#{% trans_default_domain 'FOSUserBundle' %}#}

{#{% block fos_user_content %}#}
    {#<p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>#}
    {#{% if targetUrl %}#}
    {#<p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>#}
    {#{% endif %}#}
{#{% endblock fos_user_content %}#}


{% extends 'FavorisBundle:includes:base.html.twig' %}
{% block title %} Confirmation {% endblock %}
 {% block navigation %}
 {% endblock %}
{% block body %}
    {% trans_default_domain 'FOSUserBundle' %}
    <div class="row">
        <div class="col-md-offset-5 col-md-3 confirmed-design">
            <p>Merci de votre inscription ! Connectez-vous et enregistrez vos premiers favoris !</p>
            <p><a href="{{ url('fos_user_security_login') }}">Se connecter !</a></p>
        </div>
    </div>
{% endblock %}
{% block javascripts_footer %}
    <script>
        $(":input").addClass("form-control register-input");
    </script>
{% endblock %}
