{% extends 'FavorisBundle:includes:base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
         ma variable : {% if num is defined %}{{ num }}{% endif %}

        </div>
    </div>
{% endblock %}

