<div class="row">
    <div class="col-xs-12 col-md-6">
        <div class="group-settings bg-green">
            <div class="group-header">
                Fond d'écran
            </div>
            <div class="group-body">
                <div class="row">
                    <div class="col-xs-6 col-md-3">
                        <div class="fond-image bg-midnight-blue"></div>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <div class="fond-image bg-silver"></div>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <div class="fond-image bg-belize-hole"></div>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <div class="fond-image bg-pumpkin"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-6">
        <div class="group-settings bg-red">
            <div class="group-header">
                Compte
            </div>
            <div class="group-body info-compte">
                <p class="">Pseudo : {{ User.username }}<br/> </p>
                <p class="">Email : {{ User.email }}<br/></p>
                <a href="{{ url('fos_user_profile_edit') }}"  class="btn bouton-cpt"> Modifier</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-6">
        <div class="group-settings bg-orange">
            <div class="group-header">
                Soon
            </div>
            <div class="group-body">
                soon
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-6">
        <div class="group-settings bg-blue">
            <div class="group-header">
                Déconnexion
            </div>
            <div class="group-body">
                <div class="row">
                    <div class="col-xs-12 col-md-offset-3 col-md-6">
                        <a href="{{ url('fos_user_security_logout') }}" class="btn bouton-deco"> Déconnexion</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>